{
  "name": "elendirna-cli-{{os}}-{{cpu}}",
  "version": "{{version}}",
  "description": "elendirna prebuilt `elf` binary for {{os}}-{{cpu}} ({{triple}}).",
  "homepage": "https://github.com/elen-labs/elendirna",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/elen-labs/elendirna.git"
  },
  "license": "MIT",
  "os": ["{{os}}"],
  "cpu": ["{{cpu}}"],
  "files": [
    "bin/"
  ]
}
